parameters:
	ignoreErrors:
		# Safety check
		- path: %currentWorkingDirectory%/src/Bridges/Nette/Form/AbstractFormBuilder.php
		  message: '#^Instanceof between Tlapnet\\Datus\\Schema\\FormInput and Tlapnet\\Datus\\Schema\\FormInput will always evaluate to true\.$#'

		# Intentional incompatibility
		- '#^Parameter .+ of method .+Validator\:\:validate\(\) should be contravariant with parameter .+ of method Symfony\\Component\\Validator\\ConstraintValidatorInterface\:\:validate\(\)$#'

		# Seems safe by usage. Method should probably accept only string.
		- path: %currentWorkingDirectory%/src/Utils/DateTimeTools.php
		  message: '#^Method Tlapnet\\Datus\\Utils\\DateTimeTools\:\:ensureFormat\(\) should return string but returns DateTimeInterface\|int\|string\.$#'

		# Needs array<string, mixed> phpdoc syntax
		- '#^Parameter \#1 \$name of method Nette\\Forms\\Controls\\BaseControl\:\:setHtmlAttribute\(\) expects string, int\|string given\.$#'
		- '#^Parameter \#1 \$name of method Tlapnet\\Datus\\Bridges\\Nette\\Form\\Filter\\FilterBuilderContainer\:\:(has|get)\(\) expects string, int\|string given\.$#'
